#helpAccordian {
  height: 80% !important;
  width: 75% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: left;
  border: 2px solid var(--primary-color) !important;
}

.accordion-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);

  &:not(.collapsed) {
    color: var(--primary-color) !important;
    background-color: var(--fourth-color) !important;
    box-shadow: none;
  }
  &:focus {
    border-color: var(--primary-color) !important ;
  }
}
.accordion-body {
  color: var(--third-color);
}
.accordion-button .accordion-item {
  border: 1px solid var(--primary-color);
}
