.card-border-background-color {
  border-color: var(--fourth-color) !important;
  background-color: var(--third-color) !important;
  color: var(--third-color);
  height: 250px;
}
.card-body {
  padding: 0.1rem 1rem !important;
}
.card-text {
  font-size: 13px !important;
  color: var(--fourth-color);
}
.hobbies-heading {
  color: var(--fourth-color);
}
.card-actions-container {
  position: absolute;
  bottom: 10px;
  width: 91%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.card-button-color {
  background-color: none;
}
.card-button-svg {
  color: var(--fourth-color);
}

a {
  text-decoration: none;
}
