.navbar {
  background: var(--secondary-color) !important;
}
.nav-link {
  color: var(--primary-color) !important;
}
.navbar-brand {
  a {
    color: var(--third-color) !important;
    text-decoration: none;
  }
  a:hover {
    color: var(--fourth-color) !important;
  }
}

.dropdown-menu {
  background-color: var(--primary-color) !important;
  .dropdown-item {
    color: var(--secondary-color) !important;
  }
  .dropdown-item:hover {
    background-color: var(--fourth-color) !important;
    color: var(--primary-color) !important;
  }
}
// .nav-link:hover {
//   background-color: var(--fourth-color);
// }
.navbar-light .navbar-toggler {
  color: var(--primary-color) !important;
  border: none !important;
  &-icon {
    background-image: url(../../assets/images/menu.svg) !important;
  }
}
@media only screen and (min-width: 769px) {
  .nav-link {
    padding: 8px 12px !important;
    &:hover {
      background-color: var(--fourth-color);
      border-radius: 500px;
    }
  }
}
