.App {
  text-align: center;
}
.heading-button-color {
  background: var(--primary-color) !important;
  border: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  font-weight: bold !important;
  width: 100%;
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}
.Loading-spinner {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 999;
  &-image {
    width: 100px;
    height: 100px;
  }
}

.page-height {
  height: calc(var(--screen-height) * 1.2);
}

.main-page {
  height: var(--screen-height);
  background: url(../src/assets/images/backgroundImage.png);
  background: linear-gradient(var(--primary-color), var(--fourth-color));
  background: url(../src/assets/images/layered-waves-haikei.svg);
  background-size: cover;
  &-heading {
    color: var(--secondary-color);
  }
  &-sub-heading {
    color: var(--third-color);
  }
  &-button {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    outline: none !important;
    box-shadow: none !important;
    width: 49% !important;
  }
  &-button:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
  }
  &-button-div {
    display: flex;
    justify-content: space-between;
  }
}

.login-card-margin {
  background: url(../src/assets/images/layered-waves-haikei.svg) !important;
  background-size: cover !important;
}
