@font-face {
  font-family: ubuntu;
  src: url("../src/assets/fonts/Ubuntu-Medium.ttf");
}
:root {
  --primary-color: #f01159;
  --secondary-color: #dff8fe;
  --third-color: #003458;
  --fourth-color: #82cde5;
  --screen-height: 1080px;
}

body,
html {
  font-family: ubuntu !important;
  //background: var(--secondary-color);
}

.table-secondary {
  --bs-table-bg: var(--primary-color) !important;
  --bs-table-striped-bg: white !important;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: var(--fourth-color) !important;
  --bs-table-hover-color: #000;
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}
