@font-face {
  font-family: ralewayMedium;
  src: url("../src/assets/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("../src/assets/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: ralewayRegular;
  src: url("../src/assets/fonts/Raleway-Regular.ttf");
}
:root {
  --primary-color: #008a8b;
  --secondary-color: #dff8fe;
  --third-color: #003458;
  --fourth-color: #82cde5;
  --primary-color: #d8f7f8;
  --secondary-color: #033b73;
  --third-color: #e0cd17;
  --fourth-color: #015245;
  --fifth-color: #45d9d5;
  --screen-height: 1080px;
}

body,
html {
  font-family: ralewayRegular !important;
  //background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: ralewayBold !important;
}

.table-secondary {
  --bs-table-bg: var(--primary-color) !important;
  --bs-table-striped-bg: white !important;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: var(--fourth-color) !important;
  --bs-table-hover-color: #000;
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

body {
  background: var(--fifth-color) !important;
  background-size: cover !important;
}
