@font-face {
  font-family: RobotoMedium;
  src: url('../src/assets/fonts/Poppins-Thin.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('../src/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: RobotoSemiBold;
  src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
}

:root {
  --primary-color: #fbf4e4;
  --secondary-color: #3498db;
  --third-color: #27ae60;
  /* Rich purple */
  --fourth-color: #2a2b2a;
  --fifth-color: #fbf4e4;
}

// .main-page {
//   background: url("../src/assets/images/background.jpeg");
//   background-repeat: no-repeat;
// }
body,
html {
  font-family: RobotoRegular !important;
  //background: var(--secondary-color);
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: RobotoBold !important;
}

h3,
h4,
h5,
h6,
a,
label {
  font-family: RobotoSemiBold !important;
}

.table-secondary {
  --bs-table-bg: var(--primary-color) !important;
  --bs-table-striped-bg: white !important;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: var(--fourth-color) !important;
  --bs-table-hover-color: #000;
  color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

body {
  background: var(--fifth-color) !important;
  background-size: cover !important;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 924px) {
  #main-container {
    margin: 0px 0px !important;
    max-width: 100% !important;
  }
}

.login-form {
  background: white !important;
}